# flyctl launch added from .gitignore
**/@"
# Python
**/__pycache__
**/*.pyc
**/venv
**/env
**/.venv

# Environment variables
**/.env.local
**/.env.*.local

# IDE
**/.vscode
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# OS
**/.DS_Store
**/Thumbs.db
**/"@ | Out-File -FilePath .gitignore -Encoding utf8

# flyctl launch added from venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv/**/*
fly.toml
